.title {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    margin: 2px 1rem;
}

.text-not-found {
    font-size: 20px;
}

.text-grid {
    margin: 5px 0;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.beasts {
    width: 70vw;
    display: grid;
    grid-template-columns: 2fr 4fr 12fr 1fr;
}

@media (max-width: 1000px) {
    .beasts {
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr;
    }
}

.beasts-uneven {
    background-color: #f1e688;
}

.beasts-header {
    border-bottom: 3px solid #86211b;
}

.form {
    margin: 0 auto;
    width: 70vw;
    text-align: center;
    justify-content: center;
}

.form-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1000px) {
    .form-data {
        grid-template-columns: 1fr;
    }
}

.form-button {
    width: 30%;
    margin: 0 auto;
}

.button-small {
    height: 24px;
    width: 24px;
    padding: 0 !important;
    margin: auto;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}
