:root {
    --bs-btn-bg: #86211b !important;
    --bs-btn-disabled-bg: #86211b !important;
}

.title {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    margin: 2px 1rem;
    text-align: center;
}

.text-not-found {
    font-size: 20px;
}

.text-grid {
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.monsters {
    width: 70vw;
    display: grid;
    grid-template-columns: 2fr 4fr 12fr 2fr;
}

@media (max-width: 1000px) {
    .monsters {
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr;
    }
}

.lists-uneven {
    background-color: #f1e688;
}

.block-header {
    border-bottom: 3px solid #86211b;
}

.form {
    margin: 0 auto;
    width: 70vw;
    text-align: center;
    justify-content: center;
}

.form-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1000px) {
    .form-data {
        grid-template-columns: 1fr;
    }
}

.form-button {
    width: 30%;
    margin: 0 auto;
}

.button-small {
    height: 24px;
    width: 24px;
    padding: 0 !important;
    margin: auto;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

.mr-0-5 {
    margin-right: .5rem;
}

.pl-0-5 {
    display: inline;
    padding-left: .5rem;
    margin: 0;
}

@media (max-width: 1000px) {
    .mr-0-5 {
        margin-right: .25rem;
    }

    .pl-0-5 {
        display: inline;
        padding-left: .25rem;
        margin: 0;
    }
}

.spells {
    width: 70vw;
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 3fr;
}

@media (max-width: 1000px) {
    .spells {
        width: 90vw;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }
}

.a4-card {
    position: relative;
    width: 100%;
    aspect-ratio: 297 / 210; /* Retaining A4 aspect ratio */
    overflow: hidden; /* To hide overflow from background */
}

.background {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://narolan.github.io/dnd-cards/background.png"); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3; /* This affects only the background */
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2; /* Ensure content is in front of the background */
    padding: 20px;
    opacity: 1; /* Ensure content is fully visible */
    color: dimgray; /* Appropriate text color for contrast */
    background: transparent; /* Ensures no background color affects text */
}

@media (min-width: 992px) { /* Desktop */
    .a4-card {
        max-width: 794px; /* A4 paper width in px */
        height: 1123px; /* A4 paper height in px */
    }
}

@media (max-width: 991px) { /* Tablets */
    .a4-card {
        max-width: 95%; /* Adjust as needed for your design */
        height: auto; /* Maintain aspect ratio */
    }
}

@media (max-width: 576px) { /* Mobile */
    .a4-card {
        max-width: 90%; /* Adjust for smaller screens */
        height: auto; /* Maintain aspect ratio */
    }
}

.card-text {
    text-align: center;
    color: dimgray;
}

.frameBox {
    width: 90vw;
    height: 80vh;
    background-color: #fff;
    position: absolute;
    top: calc(10% + 12px);
    bottom: 0;
    right: 0;
    left: 5%;
    overflow-y: hidden;
    display: flex;
    border: .5rem solid rgb(134, 33, 27);
}
.frameBox iframe{
    width: 100%;
    height: calc(100% + 29px);
    margin: 0;
    overflow: hidden;
}