.form-data-field {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px 0;
}

.form {
    width: 50vw;
    margin: 1rem auto;
}

.form--small {
    width: 25vw;
    margin: 0 1rem;
}

.form-filters {
    display: grid;
    grid-template-columns: 1fr 1fr
}

@media (max-width: 1000px) {

    .form--small {
        width: 40vw;
        margin: 0 1rem;
    }
}

@media (max-width: 600px) {
    .form-filters {
        display: grid;
        grid-template-columns: 1fr;
    }

    .form--small {
        width: 70vw;
        margin: 0 1rem;
    }
}

.form-read-only {
    width: 80vw;
    margin: 1rem auto;
}

@media (max-width: 1000px) {
    .form {
        width: 90vw;
        margin: 1rem auto;
    }
}

.desktop {

}

.mobile {
    display: none !important;
}

@media (max-width: 600px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: inherit !important;
    }
}

.modal-body {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    gap: 2rem;
}

@media (max-width: 540px) {
    .modal-body {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}

.checkbox-wrapper .checkbox-input {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    position: relative;
    width: 30px;
    vertical-align: text-bottom;
    margin-right: .5rem;
}

.checkbox-wrapper .checkbox-input::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-wrapper .checkbox-input,
.checkbox-wrapper .checkbox-input::after {
    transition: all 100ms ease-out;
}

.checkbox-wrapper .checkbox-input::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.checkbox-wrapper input[type=checkbox] {
    cursor: default;
}

.checkbox-wrapper .checkbox-input:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.checkbox-wrapper .checkbox-input:checked {
    background-color: #6e79d6;
}

.checkbox-wrapper .checkbox-input:checked::after {
    background-color: #fff;
    left: 13px;
}

.checkbox-wrapper :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-wrapper .checkbox-input:checked:hover {
    background-color: #535db3;
}