.form-data-field {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px 0;
}

.form {
    width: 50vw;
    margin: 1rem auto;
}

.form-read-only {
    width: 80vw;
    margin: 1rem auto;
}

@media (max-width: 1000px) {
    .form {
        width: 90vw;
        margin: 1rem auto;
    }
}

.desktop {

}

.mobile {
    display: none !important;
}

@media (max-width: 600px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: inherit !important;
    }
}