.form-data-field {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px 0;
}

.form {
    width: 50vw;
    margin: 1rem auto;
}

.form--small {
    width: 25vw;
    margin: 0 1rem;
}

.form-filters {
    display: grid;
    grid-template-columns: 1fr 1fr
}

@media (max-width: 1000px) {

    .form--small {
        width: 40vw;
        margin: 0 1rem;
    }
}

@media (max-width: 600px) {
    .form-filters {
        display: grid;
        grid-template-columns: 1fr;
    }

    .form--small {
        width: 70vw;
        margin: 0 1rem;
    }
}

.form-read-only {
    width: 80vw;
    margin: 1rem auto;
}

@media (max-width: 1000px) {
    .form {
        width: 90vw;
        margin: 1rem auto;
    }
}

.desktop {

}

.mobile {
    display: none !important;
}

@media (max-width: 600px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: inherit !important;
    }
}